*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 79px;
    position: sticky;
}
h2{
    color: white;
    font-size: 26px;
    position: absolute;
    left: 50px;
    top: 20px;
}
header{
    background-clip: blur(26px);
    position: fixed;
    width: 100%;
    top: 0; 
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 21px;
    background-color: rgba(193, 193, 193, 0.404);

    
}
nav a{
    text-decoration: none;
    color: white;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ffffff5c;
    border: 2px solid white;
}
.fa-computer{
    background-color: #96D029;
    font-size: larger;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    right: 80px;
    box-shadow: 0 0 30px #96D029;
}
nav a:hover{
    background-color: #5e8a1c;;
    box-shadow: 0 0 15px #6FA51F;
    transform: scale(1.1);
    transition: all 0.5s;
}
.starter{
    color: #96D029;
    font-size: 20px;
    padding: 40px 35px;
}
h1{
    position: relative;
    top: -40px;
    padding: 0px 33px;
    color: white;
    font-size: 50px;
}
#home{
    background: url(./stars-galaxy-3840x2160-10307.jpg) no-repeat center / cover;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}
.name{
    color: #96D029;
    font-size: 20px;
    padding: 0px 35px;
    position: relative;
    top: -35px;
}
.describe{
    color: white;
    width: 470px;
    flex-wrap: wrap;
    font-size: 13px;
    padding: 0px 35px;
    position: relative;
    top: -20px;
}
span{
    color: yellow;
    text-decoration: underline;
}
img{
    width: 200px;
    height: 240px;
    position: relative;
    left: 1000px;
    top: -150px;
    border-radius: 30px;
    border: 3px solid #6FA51F;
    box-shadow: 0 0 10px #96D029;
}
.about{
    color: black;
    background-color: #96D029;
    width: 95px;
    height: 39px;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    left: 40px;
}
.about2{
    color: white;
    background: none;
    width: 95px;
    height: 39px;
    border-radius: 5px;
    position: relative;
    top: -197px;
    left: -70px;
    border: 2px solid #96D029;
}
.icons{
    display: flex;
    gap: 30px;
    font-size: xx-large;
    position: relative;
    top: -180px;
    padding: 5px 6px;
}
h3{
    color: #96D029;
    font-size: 40px;
    text-align: center;
    margin-top: -120px;
}
.men-haqimda h2 {
    border-top: 5px solid #96D029;
    padding-top: 15px;
}